body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#fdf6ec;
    color:#333;
}

header{
    background:#ffb347;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#ffcc80;
    text-align:center;
    padding:10px;
}

nav a{
    text-decoration:none;
    color:#333;
    margin:15px;
    font-weight:bold;
}

main{
    width:80%;
    margin:20px auto;
}

section{
    background:white;
    padding:15px;
    margin-bottom:20px;
    border-radius:10px;
}

img{
    width:300px;
    display:block;
    margin:15px auto;
    border-radius:10px;
}

ul{
    padding-left:20px;
}

footer{
    background:#ffb347;
    color:white;
    text-align:center;
    padding:15px;
}
